<br>
<h2>Signup</h2>
<br>
<form action="/signup" method="post">

    <label for="firstName" >*First Name:
        <input type="text" name="firstName">
    </label>

    <br>
    <br>

    <label for="lastName" >*Last Name:
        <input type="text" name="lastName">
    </label>

    <br>
    <br>

    <label for="username" >*Username:
        <input type="text" name="username">
    </label>

    <br>
    <br>

    <label for="password" >*Password:
        <input type="password" name="password">
    </label>

    <br>
    <br>

    <button type="submit" >Create Account</button>
</form>
<br>
<p>* Required field</p>
<br>

{{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
{{/if}}