<br>
<h1>User Profile</h1>
<br>

<h4>Welcome {{theUser.firstName}} {{theUser.lastName}}! </h4>
<br>
<h5>Username: {{theUser.username}} </h5>
<br>
<h5>Favorite Movies</h5>

<div>
    {{#each favorites}}
        <div> 
            <h6> {{theUser.favorites}} </h6>
             <p> Movie Details </p>
        </div>
    {{/each}}

</div>
