<br>
<h2>Create New Celebs</h2>
<br>
<form action="/celebrities/create" method="post">

    <label for="celeb-name">
        Celebrity Name:
        <input id="celeb-name-input" type="text" name="name">
    </label>

    <label for="occupation">
        Occupation:
        <input id="occupation-input" type="text" name="occupation">
    </label>

    <label for="catchPhrase">
        Catch Phrase:
        <input id="catchPhrase-input" type="text" name="catchPhrase">
    </label>

    <br>
    <br>

    <button>Create Celebrity</button>

</form>