<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <nav>
      <a href="/">Home</a> <span> | </span>
      <a href="/signup">Sign up</a> <span> | </span>
      
      {{#unless theUser}}
        <a href="/login">Login</a>
      {{/unless}}

      {{#if theUser}}
        <a href="/user-profile">Profile</a> <span> | </span>
        <a href="/celebrities">Celebrity List</a> <span> | </span>
        <a href="/movies">Movie List</a> <span> | </span>
        <a href="/celebrities/create">Add New Celebrity</a> <span> | </span>
        <a href="/movies/create">Add New Movie</a>
        <form action="/logout" method="post" name="logout">
        <br>
          <button>Logout</button>
        </form>
      {{/if}}
    </nav>

    <br>
    <br>

    <div class="container">
      {{{body}}}
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>